@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sidebar-height: calc(100vh - 4rem);
}

body {
	font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}
